<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>IT Match: connect IT students in Metropolia</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<div class="container">
    	<div class="header">
			<ul class="nav nav-pills pull-right">
				{% block navbar %}
				{% endblock %}
			</ul>
			<h3 class="text-muted"><img src="{% static 'logo.png' %}" /> IT Match</h3>
		</div>
		<div class="jumbotron">
			{% block content %}
			{% endblock %}
		</div> <!-- jumbotron -->
	    <div class="footer">
	    	<p>@Metropolia 2014
			<iframe class="pull-right" src="http://ghbtns.com/github-btn.html?user=arimbr&repo=itmatch&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe></p>
    	</div>
	</div> <!-- container -->

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50633286-1', 'itmatch.herokuapp.com');
		ga('send', 'pageview');
	</script>
</body>
</html>