<p>
	<a href={% url 'match:home' %}>Home</a> |
	<a href={% url 'match:users' %}>Users</a> |
	<a href={% url 'match:interests' %}>Interests</a>
</p>
<h1>3 Good friends</h1>
<quote>"We care about what you want to learn more than what you already know."</quote>
<p>Ari, Joakim, Sajjad</p>
<p>We are trying our best to build a web application that helps you to connect with others that share similar interests and spend time in the same area.</p>
<p>First, we will focus on students interested in programming in the Metropolia Leppavaara campus.</p>
<p>All that for you to form groups, build something together and have fun learning.</p>
<br>