{% extends "match/base.html" %}

{% block navbar %}
	<li><a href={% url 'match:home' %}>Home</a></li>
	<li><a href={% url 'match:profiles' %}>Profiles</a></li>
	<li class="active"><a href={% url 'match:groups' %}>Groups</a></li>
	<li><a href={% url 'match:signup' %}>Signup</a></li>
{% endblock %}
{% block content %}
	<div class="well well-sm">
		<h2 class="custom-block">{{ tags.all.count }} Groups</h2>
	</div>
	{% for tag in tags|dictsortreversed:"profiles.count" %}
		<p>
		<a href='{{tag.id}}'>{{ tag.name }}</a>
		({{ tag.profiles.count }})
		</p>
	{% endfor %}
{% endblock %}
