{% extends "match/base.html" %}

{% block navbar %}
	<li><a href={% url 'match:home' %}>Home</a></li>
	<li><a href={% url 'match:profiles' %}>Profiles</a></li>
	<li><a href={% url 'match:groups' %}>Groups</a></li>
	<li><a href={% url 'match:signup' %}>Signup</a></li>
{% endblock %}
{% block content %}
	<div class="well well-sm">
		<h2 class="custom-block">{{ profile.name }}</h2>
	</div>
	<div>
		<h3>Interests</h3>
		{% for tag in profile.tags.all %}
			<a href={% url 'match:group' tag.id %}>{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
		{% endfor %}
	</div>
	<div>
		<h3>Similar profiles</h3>
		{% for distance in profile.closer %}
			<a href="{{ distance.to_profile.id }}">{{ distance.to_profile.name }}</a> ({{ distance.d | floatformat:1 }}){% if not forloop.last %}, {% endif %}
		{% endfor %}
	</div>
{% endblock %}