{% extends "match/base.html" %}

{% block content %}
<h1>Who do you wanna be?</h1>

<div class="left">
	<form action="{% url 'match:register' %}" method="post">
		{% csrf_token %}
		<label for="name">Name:</label>
		<br />
		<input type="text" name="name" id="name" />
		<br />

		<br />
		<span>Interests:</span>
		<br />

		{% for tag in tags.all %}
		    <input type="checkbox" name="tag" id="tag{{ forloop.counter }}" value="{{ tag.id }}" />
		    <label for="tag{{ forloop.counter }}">{{ tag.name }}</label><br />
		{% endfor %}
		<br />

		<input type="submit" value="Register" />
	</form>
</div>
{% endblock %}