{% extends "match/base.html" %}

{% block content %}
	<h2>Connect with other students!</h2>
	<form class="row left" action="{% url 'match:register' %}" method="post">
		{% csrf_token %}
		<br />
		<label for="name">Full name:</label>
		<br />
		<input type="text" class="form-control" name="name" id="name" placeholder="" value="{{ name }}" autofocus />
		<br />
		<label for="email">Metropolia email:</label>
		<br />
		<input type="text" class="form-control" name="email" id="email" placeholder="" value="{{ email }}"/>
		<label class="checkbox">
      		<input type="checkbox" value="remember-me" checked><span class="normal">Notify me at launch</span>
    	</label>

    	<br />
    	<label>Interests: <span class="error">{{ errors }}</span></label>
		<br />
		{% for tag in tags.all %}
		    <input type="checkbox" name="tag" id="tag{{ forloop.counter }}" value="{{ tag.id }}" />
		    <label class="normal" for="tag{{ forloop.counter }}">{{ tag.name }}</label><br />
		{% endfor %}
		<br />

		<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="this.disabled=true,this.form.submit();">Sign up</button>
		<br />
	</form>
{% endblock %}